<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="false">

<!-- 필터 클래스 등록 -->
<!--  
  <filter>
    <filter-name>Filter1</filter-name>
    <filter-class>bitcamp.servlet7.Filter1</filter-class>
  </filter>
-->
<!-- 필터를 적용할 URL 지정 -->
<!--  
  <filter-mapping>
    <filter-name>Filter1</filter-name>
    <url-pattern>/servlet/servlet34</url-pattern>
  </filter-mapping>
-->


<!-- 서블릿 클래스 등록 -->
  <servlet>
    <servlet-name>servlet 04</servlet-name>
    <servlet-class>bitcamp.servlet.Servlet04</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet 05</servlet-name>
    <servlet-class>bitcamp.servlet.Servlet05</servlet-class>
  </servlet>
  
<!-- 서블릿 클래스에 명령어를 부여 -->
  <servlet-mapping>
    <servlet-name>servlet 04</servlet-name>
    <url-pattern>/okok/haha/servlet04</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet 05</servlet-name>
    <url-pattern>/servlet05</url-pattern>
  </servlet-mapping>
</web-app>







